datasets/crudo/
datasets/*.csv
datasets/*.zip

modelos-entrenados/*.bin

__pycache__/
*.pyc
.venv/
venv/
*.ipynb_checkpoints/

build/
*.o
*.obj
*.exe
*.out
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

bin/
obj/
*.user
.vs/

.DS_Store
*.log
